:root {
    --main-txt-color: #000000;
}

/*Animations*/

@keyframes flies-not-flipped {
    50% {
        transform: rotate(40deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes flies-flipped {
    50% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*End - Animations*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: var(--main-txt-color);
}
#screen {
    width: 100vw;
    height: 100vh;
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}
#menu {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
#logo-container, #options {
    width: 100%;
    height: 50%;
    text-align: center;
}
#logo-container .logo-img {
    width: 90%;
}
#logo-container .fly.top {
    float: left;
}
#logo-container .fly.bottom {
    float: right;
}
#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#options * {
    text-transform: uppercase;
}
#options select {
    width: 70%;
}
#options select:hover {
    cursor: pointer;
}
.fly {
    width: 20%;
    margin: 10px;
}
.fly:hover {
    cursor: pointer;
}
.fly.flipped {
    animation: flies-flipped 2s 0s ease infinite;
}
.fly.not-flipped {
    animation: flies-not-flipped 2s 0s ease infinite;
}
.button {
    margin-top: 20px;
    padding: 2% 5%;
    background-color: #df3c3c;
    border: 1px solid #b12121;
    border-radius: 20px;
    color: #ffffff;
}
.button:hover {
    background-color: #b12121;
    border-color: #8f1717;
}